body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  color: white;
}

.permanentMarker {
  font-family: 'Permanent Marker', sans-serif;
}

.kanit100 {
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
}

.kanit300 {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

.kanit500 {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

.kanit600 {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}